/*Images*/
.img-work-page{
    width: 50em;
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 16px;
    border-color: #FDFDFD;
}

.img-work-page-fit{
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 16px;
    max-width: 760px;
}

@media (max-width: 780px){
    .img-work-page-fit{
        max-width: 100%;
    }
}

.img-work-page-half{
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 16px;
    border-color: #FDFDFD;
    max-height: 500px;
}

.img-resume{
    max-width: 55em;
    max-height: 55em;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
}

.small-content .resume-link img{
    max-width: 250px;
}

video {
    display: block;
    margin: auto;
    width: 350px;
    margin-bottom: 20px;
}