html {
  scroll-behavior: auto;
}
body {
  background-color: #FFF;
}
::selection {
  background: #231e1e;
  color: #FFF;
}
::-moz-selection {
  background: #231e1e;
  color: #FFF;
}
/*Text*/
body {
  font: 20px/1.6 'Montserrat', Helvetica, Arial, sans-serif;
  color: #231e1e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* About Me Page */
.headline {
  font-size: 45px;
  line-height: 1.3;
  padding-bottom: 10px;
  min-height: 190px;
  max-width: 60em;
  text-align: left;
  padding-top: 50px;
}
@media (max-width: 780px) {
  .headline {
    min-height: 250px;
  }
}
@media (max-width: 565px) {
  .headline {
    min-height: 350px;
  }
}
@media (max-width: 450px) {
  .headline {
    min-height: 360px;
  }
}
@media (max-width: 400px) {
  .headline {
    font-size: 36px;
    min-height: 230px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .headline {
    font-size: 36px;
    min-height: 250px;
    padding-top: 0px;
  }
}
.headline-short {
  padding-top: 0px;
  margin-top: 10px;
}
#switch {
  border-bottom-style: solid;
  border-bottom-color: #231e1e;
  border-bottom-width: 5px;
}
.col-md-12 .about h2,
.col-md-12 .about h1,
.col-md-12 .about p {
  margin-left: 0px;
}
/* End */
/* Resume, Page*/
.small-content {
  margin-top: 30px;
  display: none;
}
@media (max-width: 960px) {
  .small-content {
    display: block;
  }
}
.small-content a {
  font-size: 32px;
}
.large-content {
  display: none;
}
@media (min-width: 960px) {
  .large-content {
    display: block;
  }
}
/* End*/
/* Main */
section.text-section {
  font-size: 20px;
  max-width: 48em;
  margin: 0 auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 600px) {
  section.text-section {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
section.text-section p,
section.text-section ul {
  max-width: 38em;
  margin-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
}
section.text-section h2,
section.text-section h3 {
  max-width: 760px;
  margin-bottom: 0.6em;
  margin-left: auto;
  margin-right: auto;
}
section.text-section li {
  padding-left: 16px;
  margin-bottom: 12px;
  line-height: 1.5;
}
/* TO DO: what is this one?*/
@media (min-width: 900px) {
  .responsive-text {
    max-width: 48em;
    font-size: 22px;
  }
}
h1,
h2,
h3 {
  font-weight: 600;
}
h4 {
  font-size: 21px;
  line-height: 1.7;
  color: #3e3636;
  max-width: 30em;
  text-justify: inter-word;
  font-style: italic;
}
h1 {
  line-height: 1.2;
}
h2 {
  font-size: 32px;
  text-align: left;
  margin-top: 52px;
  line-height: 1.5;
}
h3 {
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 600px) {
  section.text-section h2 {
    font-size: 24px;
    margin-top: 44px;
  }
  h3 {
    font-size: 16px;
  }
}
ol {
  list-style-type: decimal;
}
ul.bulletless {
  list-style: none;
}
.row {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.row .col-xs-12 {
  margin-bottom: 20px;
  padding-left: 0px;
}
.summary {
  max-width: 940px;
}
.summary p {
  font-size: 18px;
}
.summary ul {
  font-size: 18px;
}
.summary h3 {
  font-size: 18px;
}
@media (max-width: 600px) {
  .summary p {
    font-size: 16px;
  }
  .summary ul {
    font-size: 16px;
  }
}
/*Top of page*/
h1.work-header {
  text-align: left;
  font-size: 2.2em;
}
@media (max-width: 600px) {
  h1.work-header {
    font-size: 24px;
  }
}
section.text-section .work-tasks {
  max-width: 44em;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 0px;
}
blockquote {
  border-left: 5px solid #bbb;
  padding-left: 40px;
  line-height: 1.4;
  font-size: 22px;
  color: #7a7e88;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}
@media (max-width: 768px) {
  blockquote {
    line-height: 1.4;
    font-size: 18px;
    color: #7a7e88;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .col-lg-6 {
    font-size: 18px;
  }
}
/* END T.O.P. */
.footer-nav {
  padding-bottom: 80px;
  padding-top: 100px;
  margin-top: 30px;
}
a.display-link {
  margin: 0px;
  text-align: left;
  padding-right: 20px;
  display: block;
  font-size: 24px;
  color: #231e1e;
  margin-bottom: 20px;
  height: 60px;
  color: #6699FF;
}
a.display-link .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #231e1e;
}
@media (max-width: 768px) {
  a.display-link {
    font-size: 18px;
  }
}
section.text-section .result-block {
  border-width: 2px;
  border-color: #231e1e;
  border-style: solid;
  max-width: 760px;
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #231e1e;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
section.text-section .result-block .number {
  font: 70px/1.2 'Forum', Helvetica, Arial, sans-serif;
  margin-bottom: 0.1em;
}
section.text-section .result-block p {
  font-weight: bold;
}
@media (max-width: 768px) {
  section.text-section .result-block p {
    font-weight: bold;
  }
}
.footer-nav {
  max-width: 48em;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* Figure */
figcaption {
  text-align: center;
  font: 16px/1.3 'Montserrat', Helvetica, Arial, sans-serif;
  color: #4c4141;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  figcaption {
    font-size: 14px;
  }
}
figure {
  margin-bottom: 36px;
}
/* End Main*/
/*Images*/
.img-work-page {
  width: 50em;
  display: block;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 16px;
  border-color: #FDFDFD;
}
.img-work-page-fit {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 16px;
  max-width: 760px;
}
@media (max-width: 780px) {
  .img-work-page-fit {
    max-width: 100%;
  }
}
.img-work-page-half {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 16px;
  border-color: #FDFDFD;
  max-height: 500px;
}
.img-resume {
  max-width: 55em;
  max-height: 55em;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border-width: 5px;
  border-style: solid;
}
.small-content .resume-link img {
  max-width: 250px;
}
video {
  display: block;
  margin: auto;
  width: 350px;
  margin-bottom: 20px;
}
/*navbar*/
.navbar-default {
  background-color: #FFF;
  border: 0;
  margin-top: 10px;
  padding-right: 10px;
}
.navbar-nav > li {
  margin-left: 10px;
  padding-left: 5px;
}
.navbar-nav > li.active {
  -ms-transform: skewX(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg);
  /* Safari */
  -moz-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.navbar-nav > li.active > a {
  background-color: #6699FF !important;
}
.navbar-nav > li.active > a > span {
  display: inline-block;
  /*important line*/
  -ms-transform: skewX(10deg);
  /* IE 9 */
  -webkit-transform: skewX(10deg);
  /* Safari */
  -moz-transform: skewX(10deg);
  transform: skewX(10deg);
  color: #FEFEFE;
}
@media (max-width: 767px) {
  .navbar-nav {
    display: block;
    float: none;
    text-align: center;
    margin: 0px;
  }
  .navbar-nav > li {
    max-width: 250px;
    margin: auto;
  }
  .navbar-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .navbar-header .navbar-brand {
    float: none;
    pointer-events: none;
    cursor: default;
  }
  .navbar-header .navbar-img {
    text-align: center;
    margin: 0 auto;
    pointer-events: none;
    cursor: default;
  }
}
@media (max-width: 480px) {
  .navbar {
    margin-bottom: 0px;
  }
}
.navbar-nav > li.active-about > a {
  background-color: #E64626 !important;
}
.navbar-nav > li.active-res > a {
  background-color: #f9c80e !important;
}
.navbar-img {
  height: 40px;
  padding: 0;
  margin: -6px;
}
/*Links*/
a {
  text-decoration: none;
  cursor: pointer;
  color: #6699FF;
}
a .title {
  color: #231e1e;
}
/* Only applies to work page*/
a.image-link {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
a.image-link img {
  vertical-align: top;
  /* try out: bottom, middle, top */
}
#portfolio {
  margin-top: 60px;
  padding-left: 18vw;
  padding-right: 18vw;
}
@media (max-width: 900px) {
  #portfolio {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (max-width: 768px) {
  #portfolio {
    margin-top: 30px;
  }
}
#portfolio .portfolio-item {
  display: block;
  margin-bottom: 64px;
  text-align: left;
}
.portfolio-item a {
  cursor: pointer;
  text-decoration: none;
}
.card {
  display: block;
}
.tools {
  display: block;
  color: #231e1e;
  font-style: italic;
}
@media (max-width: 530px) {
  .tools {
    font-size: 16px;
    line-height: 140%;
  }
}
.work-header {
  display: block;
  color: #231e1e;
  font-weight: 600;
  margin-bottom: 0px;
}
@media (max-width: 530px) {
  .work-header {
    font-size: 18px;
    line-height: 140%;
  }
}
a.resume-link {
  display: table !important;
  vertical-align: bottom;
  max-width: 50em;
  max-height: 50em;
  margin: 0 auto;
  text-align: center;
  color: #f9c80e;
}
a.resume-link:hover {
  color: #b69105;
}
.loading {
  position: absolute;
  width: 760px;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .loading {
    width: 253.33333333px;
    left: 43%;
  }
}
.loadingFront {
  position: absolute;
  height: 200px;
  z-index: 2;
}
@media (max-width: 900px) {
  .loadingFront {
    height: 75px;
  }
}
#myBar {
  width: 1%;
  height: 200px;
  position: absolute;
  background-color: #E64626;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  transform: skewX(-15deg);
  left: 30px;
}
@media (max-width: 900px) {
  #myBar {
    height: 75px;
  }
}
.front-styles {
  padding-top: 200px;
  font-size: 44px;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}
.front-styles > p {
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  .front-styles {
    font-size: 22px;
  }
}
.four-styles {
  padding-top: 75px;
  font-size: 44px;
  text-align: left;
  max-width: 2000px;
  margin-left: 50px;
}
.four-styles b {
  font-size: 66px;
}
.work-invite {
  text-align: center;
  padding-top: 80px;
  font-size: 35px;
}
@media (max-width: 768px) {
  .work-invite {
    padding-top: 50px;
    font-size: 17.5px;
  }
}
a.bttn {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 2px solid;
  transition: all 0.3s ease;
  box-sizing: border-box;
  padding: 0.45em 0.85em;
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
a.bttn > span {
  display: inline-block;
  /*important line*/
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  transform: skewX(10deg);
}
.bttn-red {
  color: #E64626;
  border-color: #E64626;
}
.bttn-red:hover {
  background: #E64626;
  color: #FFF;
  border-color: #E64626;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 29px;
  font-size: 20px;
}
/*video::-webkit-media-controls-play-button {}*/
video::-webkit-media-controls-volume-slider {
  display: none;
}
video::-webkit-media-controls-mute-button {
  display: none;
}
.wrapper {
  position: relative;
  width: 350px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
  video {
    width: 100%;
  }
  .wrapper .video-overlay-play-button {
    width: 100%;
  }
}
.video > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}
.video-overlay-play-button {
  box-sizing: border-box;
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
}
.video-overlay-play-button:hover {
  opacity: 1;
}
.video-overlay-play-button.is-hidden {
  display: none;
}
